.fixed-center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toolteep-btn__tooltip-content{
    background: #235087;
    color: white
}

.pointer{
    cursor: pointer;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.fixed{
    position: fixed
}

.toolteep-btn .v-btn:not(.v-btn--icon) {
    color: white;
    background-color: #1976d2 !important;
}

.toolteep-btn.outline .v-btn:not(.v-btn--icon) {
    color: #1976d2;
    background-color: white !important;
}