.auth {
    width: 100%;
}
/*войти в ЛК*/
.auth__form-header {
    font-size: 22px;
    padding-bottom: 20px;
}

/*логин и пароль*/
.auth__label, .user-auth__label{
    font-size: 18px;
}

/*Войти*/
#auth-btn {
    font-size: 18px;
}

